<div class="flex items-start justify-between gap-6 py-4">
  <div class="min-w-0">
    <div class="text-sm font-semibold text-(--text-color) cursor-pointer" (click)="onEnabledChange(!enabled())">
      {{ title() }}
    </div>
    <div class="mt-1 text-sm max-w-50 lg:max-w-full text-(--text-color-secondary)">
      {{ description() }}
    </div>
  </div>

  <p-toggleswitch
    [ngModel]="enabled()"
    (ngModelChange)="onEnabledChange($event)"
    class="
    [--p-toggleswitch-background:var(--color-gray-300)]
    [--p-toggleswitch-checked-background:var(--primary-600)]
    [--p-toggleswitch-checked-hover-background:var(--primary-700)]
    [--p-toggleswitch-handle-background:white]
    "
    >
  </p-toggleswitch>
</div>
